<div ng-show="control.display" ng-disabled="!control.enable">
    <h2>{{control.label}}  <span ng-show="control.required">*</span></h2>

    <button class="btn btn-info" ng-click="control.add()" ng-if="control.enable">Add</button>
    <table border="1">
        <tr>
            <td ng-repeat="column in control.template">{{column.header}} <span ng-show="column.required">*</span></td>
            <td></td>
        </tr>
         <tr ng-repeat="row in control.values">

             <td ng-repeat="cell in row">
                <input ng-if="cell.type === 'TextBox'" type="text" ng-model="cell.value" ng-disabled="!control.enable" />
                <textarea ng-if="cell.type === 'TextArea'" ng-model="cell.value" ng-disabled="!control.enable"></textarea>
                <select ng-if="cell.type === 'DropDownList'" ng-model="cell.value" ng-options="c for c in cell.values" ng-disabled="!control.enable"></select>
                <input ng-if="cell.type === 'CheckBox'" type="checkbox" ng-model="cell.value" ng-disabled="!control.enable">
             </td>
             <td><button ng-if="showRemoveButton()" class="btn btn-danger" ng-click="control.remove(row)" ng-disabled="!control.enable">x</button></td>
        </tr>
    </table>

</div>